* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    background: -webkit-gradient(linear, left bottom, right top, from(#289ad5), to(#9865d7));
    color: white;
    user-select: none;
}

#typing {
    border-right: .2em solid;
    white-space: post;
    overflow: hidden;
    font-family: monospace;
    font-size: 3em;
    animation: typing 1s steps(30, end), blink .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    50% { border-color: transparent }
}

.social-media-links {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.social-media-links.fade-in {
    opacity: 1;
}

.social-media-links.fade-out {
    opacity: 0;
}